page-settings {
    .output-blocks-container {
        border: 1px solid darkgrey;
        line-height: 26px;
        min-height: 26px;
    }

    .output-blocks-container-disabled {
        cursor: not-allowed;
        height: 142px;
        background-color: #fdfdfd;
        color: black;
        border: 1px solid darkgrey;
    }

    ion-item-divider {
        font-weight: bold !important;
        font-size: 1.4em !important;
        color: black !important;
    }
    .csv-path {
        width: 100%;
        margin-top: 4px;
        padding-left: 5px;
    }
    .csv-select-path-form input,
    .csv-select-path-form ion-grid,
    .csv-select-path-form ion-col,
    .csv-select-path-form ion-label,
    .csv-select-path-form button,
    .csv-select-path-form ion-row {
        padding-top: 0;
        margin-top: 0;
    }

    .csv-delimiter {
        margin-top: 4px;
        padding-left: 5px;
        width: 60px;
    }

    .help-button {
        margin: 0;
        vertical-align: middle;
        height: 15px;
        width: 20px;
        font-size: .7em;
    }

    .select-output-template {
        display: inline-block;
        margin: 0 0 0 .8rem;
    }

    .container-select-output-template {
        padding: 0;
        margin: 0;
        line-height: 35px;
        height: 35px;
        vertical-align: middle;

        label, ion-label {
            padding: 0;
            margin: 0;
        }

        button {
            margin-top: -5px;
            height: 21px;
            text-transform: none;
        }

        .btn-new-output-template {
            height: 20px;
            margin: 0;
        }

        .item-inner {
            padding: 0 !important;
        }
    }

    .output-template-title > span{
        font-size: 1.6rem;
        font-weight: 500;
        color: color($colors, dark)
    }

    .output-template-title button { margin: -4px 0 0 4px}

    info-box {
        margin: 0 0 0 9px;
        display: block;
    }
}