page-settings {
    .output-blocks-container {
        border: 1px solid darkgrey;
        line-height: 26px;
        min-height: 26px;
    }

    .output-blocks-container-disabled {
        cursor: not-allowed;
        height: 142px;
        background-color: #fdfdfd;
        color: black;
        border: 1px solid darkgrey;
    }

    ion-item-divider {
        font-weight: bold !important;
        font-size: 1.4em !important;
        color: black !important;
    }
    .csv-path {
        width: 100%;
        margin-top: 4px;
        padding-left: 5px;
    }
    .csv-select-path-form * {
        padding-top: 0;
        margin-top: 0;
    }

    .csv-delimiter {
        margin-top: 4px;
        padding-left: 5px;
        width: 60px;
    }

    .help-button {
        margin: 0;
        vertical-align: middle;
        height: 15px;
        width: 20px;
        font-size: .7em;
    }

    .csv-description {
        margin-left: 10px;
    }
}