// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.with-status-bar {
  height: calc(100% - 22px);
}

.popper-tooltip {
  background-color: white;
  z-index: 1000;
}

.example-variable {
  border: none;
  margin-left: 12px;
  font-size: 0.9em;
  color: #3c3c3c;
}

.changelog .alert-message * {
  font-size: 0.95em !important;
  text-align: left !important;
}

.changelog .alert-wrapper {
  min-width: 50%;
}

.btp-big-modal .modal-wrapper {
  min-width: 80%;
  left: 10vw;

  @media only screen and (min-height: 650px) and (min-width: 768px) {
    top: calc(50% - (650px / 2)) !important;
    height: 650px !important;
  }
}

.modal-wrapper {
  border-radius: 15px !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

ion-navbar {
  direction: ltr !important;
}

.alert-button,
alert-button-group button {
  padding: 7px 0 !important;
  border-radius: 5px !important;
}

.bar-buttons {
  padding-right: 9px;
}
