// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$split-pane-side-min-width: 500px;
// $toolbar-md-height: 48px;
// $toolbar-md-button-font-size: 1.2rem;
// $toolbar-md-title-font-size: 1.8rem;
$label-md-text-color: #000;
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// [class.btn-primary]="customVariable.type == 'key'"
// [class.btn-success]="customVariable.type == 'variable'"
// [class.btn-warning]="customVariable.type == 'text'"
// [class.btn-info]="customVariable.type == 'barcode' || customVariable.type == 'function'"
$colors: (
  primary: #f44336,
  secondary: #b71c1c,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  favorite: #69bb7b,
  add-button: rgb(39, 190, 72),
  status-bar: rgb(231, 231, 231),
  notification-bg: #f4f4f4,
  output-block-component-key: #b71c1c,
  output-block-component-variable: #0c7a3a,
  output-block-component-text: rgb(207, 152, 0),
  // output-block-component-barcode:   rgb(128, 128, 128),
  output-block-component-barcode: rgb(140, 140, 140),
  output-block-component-function: rgb(140, 140, 140),
  output-block-component-delay: rgb(149, 0, 168),
  output-block-component-http: #db7500,
  output-block-component-run: #0066db,
  output-block-component-beep: #3dbb26,
  output-block-component-select_option: #b6a400,
  output-block-component-if: #f53d3d,
  output-block-component-endif: #f53d3d,
  output-block-component-csv_lookup: #613711,
  output-block-component-csv_update: #613711,
  output-block-component-google_sheets: #34a853,
  output-block-component-alert: #dfdfdf,
  output-block-component-date_time: #293b96,
  output-block-component-woocommerce: #7f54b3,
  output-block-component-image: #157ae5,
  output-block-component-geolocation: #12579c,
  text: #ffffff,
  selected: #ebebeb,
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

html {
  font-family: Roboto;
}

ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, light);
}

ion-item {
  -webkit-transition: none !important;
  transition: none !important;
}

popper-content {
  font-size: 1.19rem;
}

popper-content a {
  cursor: pointer;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

blockquote {
  border-radius: 6px;
  padding: 20px;
  border-left: 5px solid #eee;
  margin: 0;
}

.blockquote-yellow {
  background-color: #fbf8e8;
  border-left-color: #fee450;
}

.blockquote-grey {
  background-color: #fafafa;
  border-left-color: #e6e6e6;
}

.blockquote-blue {
  background-color: #e8f3fb;
  border-left-color: #5096fe;
}

.blockquote-red {
  background-color: #fbe8e8;
  border-left-color: #fe5050;
}

.blockquote-green {
  background-color: #eafbe8;
  border-left-color: #8bfe50;
}

.ng-dropdown-panel.ng-select-bottom {
  left: 0;
}

.qr-spinner {
  width: 100px;
  height: 100px;
  margin: 50px auto;
}

// ion-slides dots
.swiper-pagination-bullet {
  background: map-get($colors, dark) !important;
}

.swiper-pagination-bullet-active {
  background: map-get($colors, primary) !important;
  opacity: 0.8 !important;
}

.text-muted,
popper-content {
  color: #5c5c5c;
}

// Pop-over custom height
@media only screen and (min-height: 600px) and (min-width: 768px) {
  .modal-wrapper {
    top: calc(50% - (600px / 2)) !important;
    height: 600px !important;
  }
}

.alert-gsheet-sheets-list {
  .alert-wrapper {
    max-width: 500px !important;
    width: 500px !important;
  }

  .alert-radio-group {
    height: 400px !important;
    max-height: 400px !important;
  }
}

// BTPv2 alert
.btpv2-alert {
  @media screen and (max-height: 400px) {
    padding-top: 8px !important;
  }

  .button-md {
    border-radius: 100px !important;
    box-shadow: none !important;
  }

  ion-item-options .button-md {
    border-radius: 0 !important;
  }

  .alert-input-group {
    padding-bottom: 8px !important;
  }

  .alert-head {
    padding-bottom: 0 !important;
  }

  .alert-wrapper {
    border-radius: 20px !important;
    width: 85vw !important;
    max-width: 350px !important;
    justify-content: space-between !important;
    min-height: 210px;
  }

  .alert-message {
    color: #4f4f4f !important;
    margin-top: 10px;
    padding-bottom: 0 !important;
  }

  .btpv2-btn {
    justify-content: center !important;
    margin: 8px 0 0 0 !important;
    text-align: center !important;

    .button-inner {
      justify-content: center !important;
    }
  }

  .alert-button-group {
    flex-direction: column !important;
    padding: 0px 23px 23px 23px !important;
    margin: 15px 0 0 0 !important;
  }

  .alert-checkbox-group {
    border: none !important;
    margin: 11px 0 -11px 11px !important;
  }

  .btpv2-btn-primary {
    background-color: map-get($colors, primary) !important;
    color: map-get($colors, text) !important;
    border-radius: 100px !important;
  }

  .btpv2-btn-cancel {
    border: 1px solid map-get($colors, primary) !important;
    color: map-get($colors, primary) !important;
    border-radius: 100px !important;
  }

  .btpv2-btn-text-cancel {
    color: #878787 !important;
    text-transform: none !important;
    text-decoration: underline !important;
    font-weight: normal !important;
    padding: 5px 0 0px 0 !important;
  }

  .btpv2-btn-text-cancel.activated {
    background-color: transparent !important;
  }

  .alert-input {
    border: 1px solid map-get($colors, info) !important;
    border-radius: 4px !important;
    padding: 10px !important;
  }

  .alert-input:focus {
    border: 1px solid map-get($colors, primary) !important;
  }
}
