*.log
/coverage
/node_modules
/typings
/dist
/dist-app
/electron/node_modules
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
