.circle-text {
    color: white;
    border-radius: 52px;
    height: 52px;
    width: 52px;
    overflow: hidden;
    font-size: 24px;
    vertical-align: middle;
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}