<div class="parent noselect">

  <h1>Welcome to Barcode to PC server</h1>
  <br />
  <h4>Please download and launch the app</h4>

  <br />
  <br />
  <br />

  <div class="badges">
    <img (click)="ipcProxy.openUrl('https://play.google.com/store/apps/details?id=com.barcodetopc')"
      class="playstore" alt="Get it on Google Play" src="assets/welcome/google-play-badge.png" />

    <img (click)="ipcProxy.openUrl('https://play.google.com/store/apps/details?id=com.barcodetopc')"
      class="appstore" alt="Download on App Store" src="assets/welcome/Download_on_the_App_Store_Badge_US-UK_135x40.svg"
    />
  </div>
</div>

<div class="help noselect" (click)="ipcProxy.openUrl('https://www.google.com')">
  <a>Help?</a>
</div>