<div class="parent noselect">
    <h2>Welcome to Barcode to PC server</h2>

    <div class="text-left">
        <h3>1) Install the app on your smartphone</h3>
        <br>
        <div class="badges">
            <img (click)="electronService.shell.openExternal('https://play.google.com/store/apps/details?id=com.barcodetopc')" alt="Get it on Google Play"
                src="assets/welcome/google-play-badge.png" />

            <img (click)="electronService.shell.openExternal('https://play.google.com/store/apps/details?id=com.barcodetopc')" alt="Download on App Store"
                src="assets/welcome/Download_on_the_App_Store_Badge_US-UK_135x40.svg" />
        </div>

        <h3>2) Launch the app and scan this QR code to connect</h3>
        <qr-code [value]="qrCodeUrl" [size]="240"></qr-code>
    </div>
</div>

<div class="help noselect fixed-bottom">
    <a (click)="openFAQ()">Help?</a>
</div>