.parent {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    flex-direction: column;
}

.parent img {
    cursor: pointer;
}

.playstore {
    width: 285px;
}

.appstore {
    width: 250px;
}

.fixed-bottom {
    position: absolute;
    bottom: 0;
    padding: 5px;    
}

.help { 
    right: 0;
    cursor: pointer;
}

.address {
    left: 0;
    background-color: #eaeaea;
    color: #7b7b7b;
    border-radius: 0 9px 0 0;
    font-size: 14px;
}

h3 {
    padding-top: 35px;
}

.answer {
    padding: 5px 0 0 10px;
}