<div class="parent noselect">

  <h1>Welcome to Barcode to PC server</h1>
  <br />
  <h4>Please download and launch the app</h4>

  <br />
  <br />
  <br />

  <div class="badges">
    <img (click)="openUrl('https://play.google.com/store/apps/details?id=io.barcode2pc&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')"
      class="playstore" alt="Get it on Google Play" src="assets/welcome/google-play-badge.png" />

    <img (click)="openUrl('https://play.google.com/store/apps/details?id=io.barcode2pc&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')"
      class="appstore" alt="Download on App Store" src="assets/welcome/Download_on_the_App_Store_Badge_US-UK_135x40.svg"
    />
  </div>
</div>

<div class="help noselect" (click)="openUrl('https://www.google.com')">
  <a>Help?</a>
</div>