@import 'variables.scss';
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'; // https://github.com/angular/angular-cli/issues/3537
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'checkbox.scss';
$ionicons-font-path: "../../node_modules/ionicons/fonts/";
@import "../../node_modules/ionicons/scss/ionicons";

body {
	font-family: sans-serif;
	background: #fff;
	color: #000;
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.root-loading {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.btn-custom {
    background-color: $brand-primary; /*b71c1c*/
    border-color: $brand-primary;
    color: #fff;
}

.btn-custom img {
    filter: invert(100%)
}

a {
  color: $brand-primary !important;
  cursor: pointer !important;
}

a:hover {
  color: $brand-secondary !important;
}


