@import "../../../styles/variables.scss";

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
}

.bar {
    height: 48px;
    width: 100%;
    background: $brand-primary;
    color: #fff;
    font-size: 16px;
    line-height: 48px;
    padding-left: 10px;
}

.col-half {
    width: 50%;
    height: calc(100% - 48px);
    overflow: hidden;
    overflow-y: auto;
}

.right {
    background: #f2f2f2;
}


.menu-item {
    display: inline-block;
    margin-left: 10px;
    color: rgba(255,255,255,.88);
    cursor: pointer;
}

.menu-item:hover {
    color: #fff;
}

.logo {
    width: 36px;
    height: auto;
    margin-top: -4px;
}

.section-title {
    font-size: 1.3em;
    font-weight: 800;
    margin-top: 40px;
}

.icon {
    width: 16px;
}

.info {
    text-align: center;
}

.components-container {
    border: 1px solid darkgrey;
    line-height: 32px;
    min-height: 32px;
}

label {
    font-weight: normal;
}
